<section id="einkatimar" >
  <div class="container container-right">
    <div class="row outside-right">

        <div class="col-md-6 text-center right-column img-padding">
            <img class="img100100 mdc-elevation--z6" src="{{.Site.Data.einkatimar.section4.img}}">
          </div>
          
        <div class="col-md-6 text-left left-column">
            <h2 class="section-heading title einkatimar-title-fix">
                {{.Site.Data.einkatimar.section4.title | safeHTML }}            
              </h2>
          
            <p class="section-subheading text-muted">
                {{.Site.Data.einkatimar.section4.content | safeHTML }}            
              </p>
        </div>


     

    </div>
  </div>
</section>
