{{ "<!-- Vim Hoff -->" | safeHTML }}
<section id="movement" >
  <div class="container">
    <div class="row">


      <div class="col-md-6   text-center left-column">
        <img class="img100100" src="/img/new/temp.png">
      </div>

      <div class="col-md-6 text-center">
        <h2 class="section-heading title">
            {{ with .Site.Params.movement.title | safeHTML }}{{ . }}{{ end }}
        </h2>
      
        <p class="section-subheading text-muted">
          {{ with .Site.Params.movement.subtitle | safeHTML }}{{ . | markdownify }}{{ end }}
        </p>
      </div>


    </div>
  </div>
</section>
