{{ "<!-- Vim Hoff -->" | safeHTML }}
<section id="movement" >
  <div class="container container-left">
    <div class="row outside-left">


      <div class="col-md-6   text-center left-column ">
        
        <img class="img100100 mdc-elevation--z6" src="{{.Site.Data.frontpage.section1.img}}">
      </div>

      <div class="col-md-6 text-left ">
        <h2 class="section-heading title">
            {{.Site.Data.frontpage.section1.title | safeHTML }}
        </h2>
      
        <p class="section-subheading text-muted">
            {{.Site.Data.frontpage.section1.content | safeHTML }}
        </p>
      </div>


    </div>
  </div>
</section>
