{{ "<!-- Vim Hoff -->" | safeHTML }}
<section id="movement" >
  <div class="container">
    <div class="row">


      <div class="col-md-6   text-left left-column">
        <img class="img100100" src="{{.Site.Data.vimhoff.section3.img}}">
      </div>

      <div class="col-md-6 text-left">
        <h2 class="section-heading title">
            {{.Site.Data.vimhoff.section3.title}}
        </h2>
      
        <p class="section-subheading text-muted">
            {{.Site.Data.vimhoff.section1.content}}
                  </p>
      </div>


    </div>
  </div>
</section>
