{{ "<!-- Vim Hoff -->" | safeHTML }}
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.vimhoff.title }}{{ . }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.vimhoff.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    {{ range .Site.Params.vimhoff.row }}
      <div class="row text-center">
        {{ range .list }}
          <div class="col-md-4">
              <img class="pillar" src="/img/vimhoff/{{ .icon }}">
             
  
            <h4 class="service-heading">{{ if .url }}<a href="{{ .url | absURL }}">{{ .title | markdownify }}</a>{{ else }}{{ .title | markdownify }}{{ end }}</h4>
            <p class="text-muted">{{ .description | markdownify }}</p>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
