<section id="movement" >
  <div class="container">
    <div class="row">


      <div class="col-md-6 col-xs-12  text-left left-column small-cat-fix-margin">
          <img class="img2525 mdc-elevation--z6" src="{{.Site.Data.einkatimar.section5.img}}">
          <h2 class="section-heading title small-cat-fix-title">
              {{.Site.Data.einkatimar.section5.title | safeHTML }}          </h2>
          <div class="section-subheading text-muted small-cat-fix-para">
              {{.Site.Data.einkatimar.section5.content | safeHTML }}            </div>
      </div>

      <div class="col-md-6 col-xs-12  text-left left-column small-cat-fix-margin">
          <img class="img2525 mdc-elevation--z6" src="{{.Site.Data.einkatimar.section6.img}}">
          <h2 class="section-heading title small-cat-fix-title">
              {{.Site.Data.einkatimar.section6.title | safeHTML }}
          </h2>
          <div class="section-subheading text-muted small-cat-fix-para">
              {{.Site.Data.einkatimar.section6.content | safeHTML }}            </div>
      </div>


    </div>
  </div>
</section>
