<section id="einkatimar" >
  <div class="container container-right">
    <div class="row outside-right">

        <div class="col-md-6 text-left left-column">
            <h2 class="section-heading title text-right">
                {{.Site.Data.einkatimar.section5.title | safeHTML }}            
              </h2>
          
            <p class="section-subheading text-muted">
                {{.Site.Data.einkatimar.section5.content | safeHTML }}            
              </p>
        </div>


      <div class="col-md-6 text-center right-column img-padding einkatimar-img-fix">
        <img class="img100100 mdc-elevation--z6" src="{{.Site.Data.einkatimar.section5.img}}">
      </div>

    </div>
  </div>
</section>
