{{ "<!-- Vim hof -->" | safeHTML }}
<section id="movement" class=" frontpage-image-padding-fix">
  <div class="container container-left">


    <div class="row hidden-sm hidden-xs outside-left">
      <div class="col-md-6   text-center left-column  img-padding">

        <img class="img100100 mdc-elevation--z6 " src="{{.Site.Data.umokkur.section2.img}}">
      </div>

      <div class="col-md-6 text-left ">
        <h2 class="section-heading title">
          {{.Site.Data.umokkur.section2.title | safeHTML }}
        </h2>

        <p class="section-subheading text-muted">
          {{.Site.Data.umokkur.section2.content | safeHTML }}
        </p>
      </div>
    </div>

    <div class="row visible-sm visible-xs outside-left">


      <div class="col-md-6 text-left left-column">
        <h2 class="section-heading title">
          {{.Site.Data.umokkur.section2.title | safeHTML }}
        </h2>

        <p class="section-subheading text-muted">
          {{.Site.Data.umokkur.section2.content | safeHTML }}
        </p>
      </div>

      <div class="col-md-6   text-center left-column ">

        <img class="img100100 mdc-elevation--z6" src="{{.Site.Data.umokkur.section2.img}}">
      </div>
    </div>


  </div>
</section>