{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center"><h1 class="title title-margin contact-title">{{.Site.Data.frontpage.contact.title | safeHTML }}</h1></div>
      
      <div class="col-sm-4 text-center contact-rows">
          <i class="contact-icons fa fa-facebook-square"></i>
      </div>
      
      <div class="col-sm-4 text-center contact-rows">
          <i class="contact-icons  fa fa-at"></i>
        </div>
      
      <div class="col-sm-4 text-center contact-rows">
          <i class="contact-icons  fa fa-facebook-square"></i>
      </div>

    </div>
  </div>
</section>
