{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center"><h2 class="title title-margin  section-heading">{{.Site.Data.frontpage.contact.title | safeHTML }}</h2></div>
    
   
      
      <div class="col-xs-12 col-sm-4 text-center contact-rows ">
          <a href="https://www.instagram.com/primal_iceland/">
          <i class="contact-icons mdc-elevation--z6 fa fa-at background-primal-green color-white "></i></a>
        </div>
      
      <div class="col-xs-12 col-sm-4 text-center contact-rows">
          <a href="https://www.facebook.com/primaliceland">
          <i class="contact-icons mdc-elevation--z6 fab fa-facebook background-primal-green color-white "></i></a>
      </div>

      <div class="col-xs-12 col-sm-4 text-center contact-rows">
          <a  href="https://www.instagram.com/primal_iceland/">
          <i class="contact-icons mdc-elevation--z6 background-primal-green color-white fab fa-instagram "></i></a>
      </div>

    </div>
  </div>
</section>
