{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center"><h1 class="title title-margin">Láttu heyra í þér ..</h1></div>
      <div class="col-sm-4 text-center ">
        <a href=""><i class="icon-margin icons fb-icon fab fa-facebook"></i></a>
      </div>
      <div class="col-sm-4 text-center">
          <a href=""><i class="icon-margin icons email-icon far fa-envelope"></i></a>
        </div>
      <div class="col-sm-4 text-center">
          <a href=""><i class="icon-margin icons fb-icon fab fa-facebook"></i></a>
        </div>
    </div>
  </div>
</section>
