{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">


    {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle mdc-elevation--z6" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
       Hvað er í boði ?
      </button>

  


    </div>
    {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
    <div class="collapse navbar-collapse  menu-padding" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">



        <li class="hidden">
          <a href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}"></a>
        </li>

      
        <li>
          <a class="page-scroll " href="/">Primal</a>
        </li>
  
    
          <li>
            <a class="page-scroll" href="/wimhof">{{ with .Site.Params.navigation.wimhof }}{{ . }}{{ end }}</a>
          </li>
    
          <li>
            <a class="page-scroll" href="/movement">{{ with .Site.Params.navigation.movement }}{{ . }}{{ end }}</a>
          </li>

          <li>
            <a class="page-scroll" href="/handstand">{{ with .Site.Params.navigation.handstand }}{{ . }}{{ end }}</a>
          </li>


          <li>
            <a class="page-scroll" href="/einkatimar">{{ with .Site.Params.navigation.einkatimar }}{{ . }}{{ end }}</a>
        
          </li>


          <li>
            <a class="page-scroll" href="/annad">{{ with .Site.Params.navigation.annad }}{{ . }}{{ end }}</a>
        
          </li>
        
          <li>
            <a class="page-scroll" href="/media">{{ with .Site.Params.navigation.media }}{{ . }}{{ end }}</a>
        
          </li>
        
          <li>
            <a class="page-scroll" href="/team">{{ with .Site.Params.navigation.team }}{{ . }}{{ end }}</a>
        
          </li>
          <br>
     


      
      </ul>
    </div>
    {{ "<!-- /.navbar-collapse -->" | safeHTML }}


  
  {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
