{{ "<!-- Vim Hoff -->" | safeHTML }}
<section id="vimhoff" class="vim-hoff-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading color-white">
          <a href="/vim-hoff">
              {{ with .Site.Params.vimhoff.title }}{{ . }}{{ end }}</h2>
          </a>
          
        <h3 class="section-subheading text-muted color-white">{{ with .Site.Params.vimhoff.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>

  </div>
</section>
