<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}
    <!-- {{ partial "basics.html" . }} -->
     <!-- {{ partial "video.html" . }} -->
     {{ partial "template/img-left.html" . }}
     {{ partial "template/img-right.html" . }}
    
     {{ partial "about.html" . }}
    {{ partial "team.html" . }}
    {{ partial "clients.html" . }}
    {{ partial "contact.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
