{{ "<!-- Vim Hoff -->" | safeHTML }}
<section id="movement" >
  <div class="container">
    <div class="row">


      <div class="col-md-6 col-xs-12  text-center left-column">
          <img class="img2525" src="/img/movement/3.jpg">
          <h2 class="section-heading title">
              {{ with .Site.Params.movement.title }}{{ . }}{{ end }}
          </h2>
          <p class="section-subheading text-muted">
              {{ with .Site.Params.movement.subtitle }}{{ . | markdownify }}{{ end }}
            </p>
      </div>

      <div class="col-md-6 col-xs-12  text-center left-column">
          <img class="img2525" src="/img/movement/4.jpg">
          <h2 class="section-heading title">
              {{ with .Site.Params.movement.title }}{{ . }}{{ end }}
          </h2>
          <p class="section-subheading text-muted">
              {{ with .Site.Params.movement.subtitle }}{{ . | markdownify }}{{ end }}
            </p>
      </div>


    </div>
  </div>
</section>
