<section id="movement" >
  <div class="container">
    <div class="row">

        <div class="col-md-6 text-left left-column img-padding">
            <h2 class="section-heading title">
                {{.Site.Data.movement.section7.title | safeHTML }}            
              </h2>
          
            <p class="section-subheading text-muted">
                {{.Site.Data.movement.section7.content | safeHTML }}            
              </p>
        </div>


      <div class="col-md-6 text-center right-column">
        <img class="img100100 mdc-elevation--z6" src="{{.Site.Data.movement.section7.img}}">
      </div>

    </div>
  </div>
</section>
