<section id="movement" >
    <!--
    <div id="calendar" class="col-md-10 col-sm-12">
        <img class="calendar-img mdc-elevation--z6" src="{{.Site.Data.movement.calendar.img}}">
    </div>
    --> 
	    <div id="calendar" class="col-md-10 col-sm-12 fullsize-calendar">
            <div class=" hidden-sm hidden-xs">
                
            <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td>MÁNUDAGUR</td>
                            <td>ÞRIÐJUDAGUR</td>
                            <td>MIÐVIKURDAGUR</td>
                            <td>FIMMTUDAGUR</td>
                            <td>FÖSTUDAGUR</td>
                            <td>LAUGARDAGUR</td>
                            <td>SUNNUDAGUR</td>
                        </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                    <td>06:10</td>
                    <td  class="background-primal-orange color-black">MOVEMENT</td>
                    <td class="background-primal-orange color-black ">MOVEMENT</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td  class="background-primal-orange color-black">MOVEMENT</td>
                    <td></td>
                    <td></td>
                    </tr>
					
					<tr>
                    <td>7:10</td>
					<td class="background-primal-brown color-black">ENDURANCE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                
                    <tr>
                    <td>10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="background-primal-orange color-black">MOVEMENT*</td>
                    <td></td>
                    </tr>
                
                    <tr>
                    <td>11:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td  class="background-primal-orange color-black">FJÖLSKYLDUTÍMI*</td>
                    </tr>
                        
                
                   
                
                    <tr>
                    <td>12:10</td>
                    <td  class="background-primal-orange color-black">MOVEMENT</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td class="background-primal-brown color-black">END RANGE STRENGTH</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td  class="background-primal-orange color-black">MOVEMENT</td>
                    <td></td>
                    <td></td>
                    </tr>
					
					<tr>
                    <td>13:10</td>
					<td class="background-primal-brown color-black">ENDURANCE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    
                    <tr>
                    <td>16:15</td>
                    <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                    <td></td>
                    <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
					
					<tr>
                    <td>17:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
					<td class="background-primal-green color-black">ÖNDUN, VEFJALOSUN OG TEYGJUR</td>
                    <td></td>
                    <td></td>
                    </tr>
					
                    <tr>
                    <td>17:30</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td class="background-primal-orange color-black">MOVEMENT</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
					
					<tr>
                    <td>18:30</td>
					<td class="background-primal-brown color-black">ENDURANCE</td>
                    <td class="background-primal-green color-black">HANDSTÖÐU ÁSTUNDUN</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    
                    </tbody>
                    </table> 
        
                </div>
            


            <div class=" visible-sm ">

                    <table>
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>MÁNUDAGUR</td>
                                    <td>ÞRIÐJUDAGUR</td>
                                    <td>MIÐVIKURDAGUR</td>
                                    <td>FIMMTUDAGUR</td>
                                 
                                </tr>
                            </thead>
                            <tbody>
                            
                            <tr>
                            <td>06:10</td>
                            <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                            <td class="background-primal-orange color-black">MOVEMENT 2</td>
                            <td class="background-heat-cold color-black">STRENGTH AND MOBILITY</td>
                            <td class="background-primal-orange color-black">MOVEMENT 2</td>
                         
                            </tr>
                        
                            <tr>
                            <td>10:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                       
                            </tr>
                        
                            <tr>
                            <td>10:45</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                 
                            </tr>
                                
                        
                            <tr>
                            <td>11:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            </tr>
                        
                            <tr>
                            <td>12:10</td>
                            <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                            <td class="background-primal-orange color-black">MOVEMENT 2</td>
                            <td class="background-heat-cold color-black">STRENGTH AND MOBILITY</td>
                            <td class="background-primal-orange color-black">MOVEMENT 2</td>
                          
                            </tr>
                            
                            <tr>
                            <td>16:15</td>
                            <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                            <td class="background-breathing color-black">UNGLINGAR</td>
                            <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                            <td class="background-breathing color-black">UNGLINGAR</td>
                           
                            </tr>
                        
                            <tr>
                            <td>17:30</td>
                            <td class="background-primal-orange color-black">MOVEMENT 1</td>
                            <td class="background-primal-orange color-black">MOVEMENT 2</td>
                            <td class="background-primal-orange color-black">MOVEMENT 1</td>
                            <td class="background-primal-orange color-black">MOVEMENT 2</td>
                          
                            </tr>
                            
                            </tbody>
                            </table> 
                
                
                            <table class="extra-top-margin">
                                    <thead>
                                        <tr>
                                            <td></td>
                                         
                                            <td>FÖSTUDAGUR</td>
                                            <td>LAUGARDAGUR</td>
                                            <td>SUNNUDAGUR</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <tr>
                                    <td>06:10</td>
                                 
                                    <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                                    <td></td>
                                    <td></td>
                                    </tr>
                                
                                    <tr>
                                    <td>10:00</td>
                                  
                                    <td></td>
                                    <td class="background-primal-orange color-black">MOVEMENT</td>
                                    <td></td>
                                    </tr>
                                
                                    <tr>
                                    <td>10:45</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td  class="background-primal-orange color-black">FJÖLSKYLDUTÍMI</td>
                                    </tr>
                                        
                                
                                    <tr>
                                    <td>11:00</td>
                               
                                    <td></td>
                                    <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                                    <td ></td>
                                    </tr>
                                
                                    <tr>
                                    <td>12:10</td>
                             
                                    <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                                    <td></td>
                                    <td></td>
                                    </tr>
    
                                    
                                    </tbody>
                                    </table> 

                        </div>





                        <div class=" visible-xs ">

                                <table>
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>MÁNUDAGUR</td>
                                        <td>ÞRIÐJUDAGUR</td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>06:10</td>
                                    <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                                    <td class="background-primal-orange color-black">MOVEMENT 2</td>
                                <tr>
                                    <td>12:10</td>
                                    <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                                    <td class="background-primal-orange color-black">MOVEMENT 2</td>
                                </tr>
                                <tr>
                                    <td>16:15</td>
                                    <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                                    <td class="background-breathing color-black">UNGLINGAR</td>
                                </tr>
                                <tr>
                                    <td>17:30</td>
                                    <td class="background-primal-orange color-black">MOVEMENT 1</td>
                                    <td class="background-primal-orange color-black">MOVEMENT 2</td>
                                </tr>
                                </tbody>
                                </table> 




                                <table class="extra-top-margin">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>MIÐVIKURDAGUR</td>
                                        <td>FIMMTUDAGUR</td>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                <tr>
                                <td>06:10</td>
                                <td class="background-heat-cold color-black">STRENGTH AND MOBILITY</td>
                                <td class="background-primal-orange color-black">MOVEMENT 2</td>
                                </tr>
                            

                            
                                <tr>
                                <td>12:10</td>
                                <td class="background-heat-cold color-black">STRENGTH AND MOBILITY</td>
                                <td class="background-primal-orange color-black">MOVEMENT 2</td>
                                
                                </tr>
                                
                                <tr>
                                <td>16:15</td>
                                
                                <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                                <td class="background-breathing color-black">UNGLINGAR</td>
                                
                                </tr>
                            
                                <tr>
                                <td>17:30</td>
                                
                                <td class="background-primal-orange color-black">MOVEMENT 1</td>
                                <td class="background-primal-orange color-black">MOVEMENT 2</td>
                            
                                </tr>
                                
                                </tbody>
                                </table> 





                                <table class="extra-top-margin">
                                        <thead>
                                            <tr>
                                                <td></td>
                                           
                                                <td>FÖSTUDAGUR</td>
                                                <td>LAUGARDAGUR</td>
                                           
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                        <tr>
                                        <td>06:10</td>
                                       
                                        <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                                        <td></td>
                                     
                                        </tr>
                                    
                                        <tr>
                                        <td>10:00</td>
                                      
                                        <td></td>
                                        <td class="background-primal-orange color-black">MOVEMENT</td>
                                    
                                        </tr>
                                    
                                     
                                            
                                    
                                        <tr>
                                        <td>11:00</td>
                                      
                                        <td></td>
                                        <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                                        </tr>
                                    
                                        <tr>
                                        <td>12:10</td>
                                      
                                        <td  class="background-primal-orange color-black">MOVEMENT 1</td>
                                        <td></td>
                                        </tr>
                                        
                                     
                                     
                                        
                                        </tbody>
                                        </table> 



                                        <table class="extra-top-margin">
                                                <thead>
                                                    <tr>
                                                        <td></td>
                                       
                                                        <td>SUNNUDAGUR</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                         
            
                                                <tr>
                                                <td>10:45</td>
                                          
                                                <td  class="background-primal-orange color-black">FJÖLSKYLDUTÍMI</td>
                                                </tr>
                                                    
        
                                                
                                                </tbody>
                                                </table> 

                            
                        </div>
	<div class="text-center"> <p>* Tímar merktir með stjörnu geta átt það til að falla niður. Laugardagstímar eru langflesta laugardaga en fjölskyldutíma eru u.þ.b. einu sinni í mánuði.</p><p>Iðkendur geta mætt í alla þá tíma sem þeim hentar. Iðkendur þurfa einungis að skrá hvenær dags þeir hafa hug á að mæta, þ.e. í morgun, hádegis, síðdegis eða mjúkan tíma.</p><p><b>Athugið</b> að þó svo að valin sé tímasetning dags við skráningu (6:10, 12:10 eða 17:30) er ekkert mál að flakka á milli tíma yfir daginn. Skráningin er hugsuð til þess að halda utan um mögulega mætingu.</p></div>
    </div>
   
</section>