<section id="movement" >
    <!--
    <div id="calendar" class="col-md-10 col-sm-12">
        <img class="calendar-img mdc-elevation--z6" src="{{.Site.Data.movement.calendar.img}}">
    </div>
    --> 

    <div id="calendar" class="col-md-10 col-sm-12 fullsize-calendar">
            <div class=" hidden-sm hidden-xs">
                
            <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td>MÁNUDAGUR</td>
                            <td>ÞRIÐJUDAGUR</td>
                            <td>MIÐVIKURDAGUR</td>
                            <td>FIMMTUDAGUR</td>
                            <td>FÖSTUDAGUR</td>
                            <td>LAUGARDAGUR</td>
                            <td>SUNNUDAGUR</td>
                        </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                    <td>06:10</td>
                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                    <td class="color-primal-orange">MOVEMENT 2</td>
                    <td class="background-heat-cold">STRENGTH AND MOBILITY</td>
                    <td class="color-primal-orange">MOVEMENT 2</td>
                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                    <td></td>
                    <td></td>
                    </tr>
                
                    <tr>
                    <td>10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="color-primal-orange">MOVEMENT</td>
                    <td></td>
                    </tr>
                
                    <tr>
                    <td>10:45</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td  class="background-primal-orange color-primal-brown">FJÖLSKYLDUTÍMI</td>
                    </tr>
                        
                
                    <tr>
                    <td>11:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="background-primal-green">MJÚKT MOVEMENT</td>
                    <td ></td>
                    </tr>
                
                    <tr>
                    <td>12:10</td>
                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                    <td class="color-primal-orange">MOVEMENT 2</td>
                    <td class="background-heat-cold">STRENGTH AND MOBILITY</td>
                    <td class="color-primal-orange">MOVEMENT 2</td>
                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                    <td></td>
                    <td></td>
                    </tr>
                    
                    <tr>
                    <td>16:15</td>
                    <td class="background-primal-green">MJÚKT MOVEMENT</td>
                    <td class="background-breathing">UNGLINGAR</td>
                    <td class="background-primal-green">MJÚKT MOVEMENT</td>
                    <td class="background-breathing">UNGLINGAR</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                
                    <tr>
                    <td>17:30</td>
                    <td class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                    <td class="color-primal-orange">MOVEMENT 2</td>
                    <td class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                    <td class="color-primal-orange">MOVEMENT 2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    
                    </tbody>
                    </table> 
        
                </div>
            


            <div class=" visible-sm ">

                    <table>
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>MÁNUDAGUR</td>
                                    <td>ÞRIÐJUDAGUR</td>
                                    <td>MIÐVIKURDAGUR</td>
                                    <td>FIMMTUDAGUR</td>
                                 
                                </tr>
                            </thead>
                            <tbody>
                            
                            <tr>
                            <td>06:10</td>
                            <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                            <td class="color-primal-orange">MOVEMENT 2</td>
                            <td class="background-heat-cold">STRENGTH AND MOBILITY</td>
                            <td class="color-primal-orange">MOVEMENT 2</td>
                         
                            </tr>
                        
                            <tr>
                            <td>10:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                       
                            </tr>
                        
                            <tr>
                            <td>10:45</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                 
                            </tr>
                                
                        
                            <tr>
                            <td>11:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            </tr>
                        
                            <tr>
                            <td>12:10</td>
                            <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                            <td class="color-primal-orange">MOVEMENT 2</td>
                            <td class="background-heat-cold">STRENGTH AND MOBILITY</td>
                            <td class="color-primal-orange">MOVEMENT 2</td>
                          
                            </tr>
                            
                            <tr>
                            <td>16:15</td>
                            <td class="background-primal-green">MJÚKT MOVEMENT</td>
                            <td class="background-breathing">UNGLINGAR</td>
                            <td class="background-primal-green">MJÚKT MOVEMENT</td>
                            <td class="background-breathing">UNGLINGAR</td>
                           
                            </tr>
                        
                            <tr>
                            <td>17:30</td>
                            <td class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                            <td class="color-primal-orange">MOVEMENT 2</td>
                            <td class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                            <td class="color-primal-orange">MOVEMENT 2</td>
                          
                            </tr>
                            
                            </tbody>
                            </table> 
                
                
                            <table class="extra-top-margin">
                                    <thead>
                                        <tr>
                                            <td></td>
                                         
                                            <td>FÖSTUDAGUR</td>
                                            <td>LAUGARDAGUR</td>
                                            <td>SUNNUDAGUR</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <tr>
                                    <td>06:10</td>
                                 
                                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                    <td></td>
                                    <td></td>
                                    </tr>
                                
                                    <tr>
                                    <td>10:00</td>
                                  
                                    <td></td>
                                    <td class="color-primal-orange">MOVEMENT</td>
                                    <td></td>
                                    </tr>
                                
                                    <tr>
                                    <td>10:45</td>
                                  
                                    <td></td>
                                    <td></td>
                                    <td  class="background-primal-orange color-primal-brown">FJÖLSKYLDUTÍMI</td>
                                    </tr>
                                        
                                
                                    <tr>
                                    <td>11:00</td>
                               
                                    <td></td>
                                    <td class="background-primal-green">MJÚKT MOVEMENT</td>
                                    <td ></td>
                                    </tr>
                                
                                    <tr>
                                    <td>12:10</td>
                             
                                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                    <td></td>
                                    <td></td>
                                    </tr>
    
                                    
                                    </tbody>
                                    </table> 

                        </div>





                        <div class=" visible-xs ">

                                <table>
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>MÁNUDAGUR</td>
                                        <td>ÞRIÐJUDAGUR</td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>06:10</td>
                                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                    <td class="color-primal-orange">MOVEMENT 2</td>
                                <tr>
                                    <td>12:10</td>
                                    <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                    <td class="color-primal-orange">MOVEMENT 2</td>
                                </tr>
                                <tr>
                                    <td>16:15</td>
                                    <td class="background-primal-green">MJÚKT MOVEMENT</td>
                                    <td class="background-breathing">UNGLINGAR</td>
                                </tr>
                                <tr>
                                    <td>17:30</td>
                                    <td class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                    <td class="color-primal-orange">MOVEMENT 2</td>
                                </tr>
                                </tbody>
                                </table> 




                                <table class="extra-top-margin">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>MIÐVIKURDAGUR</td>
                                        <td>FIMMTUDAGUR</td>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                <tr>
                                <td>06:10</td>
                                <td class="background-heat-cold">STRENGTH AND MOBILITY</td>
                                <td class="color-primal-orange">MOVEMENT 2</td>
                                </tr>
                            

                            
                                <tr>
                                <td>12:10</td>
                                <td class="background-heat-cold">STRENGTH AND MOBILITY</td>
                                <td class="color-primal-orange">MOVEMENT 2</td>
                                
                                </tr>
                                
                                <tr>
                                <td>16:15</td>
                                
                                <td class="background-primal-green">MJÚKT MOVEMENT</td>
                                <td class="background-breathing">UNGLINGAR</td>
                                
                                </tr>
                            
                                <tr>
                                <td>17:30</td>
                                
                                <td class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                <td class="color-primal-orange">MOVEMENT 2</td>
                            
                                </tr>
                                
                                </tbody>
                                </table> 





                                <table class="extra-top-margin">
                                        <thead>
                                            <tr>
                                                <td></td>
                                           
                                                <td>FÖSTUDAGUR</td>
                                                <td>LAUGARDAGUR</td>
                                           
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                        <tr>
                                        <td>06:10</td>
                                       
                                        <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                        <td></td>
                                     
                                        </tr>
                                    
                                        <tr>
                                        <td>10:00</td>
                                      
                                        <td></td>
                                        <td class="color-primal-orange">MOVEMENT</td>
                                    
                                        </tr>
                                    
                                     
                                            
                                    
                                        <tr>
                                        <td>11:00</td>
                                      
                                        <td></td>
                                        <td class="background-primal-green">MJÚKT MOVEMENT</td>
                                        </tr>
                                    
                                        <tr>
                                        <td>12:10</td>
                                      
                                        <td  class="background-primal-orange color-primal-brown">MOVEMENT 1</td>
                                        <td></td>
                                        </tr>
                                        
                                     
                                     
                                        
                                        </tbody>
                                        </table> 



                                        <table class="extra-top-margin">
                                                <thead>
                                                    <tr>
                                                        <td></td>
                                       
                                                        <td>SUNNUDAGUR</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                         
            
                                                <tr>
                                                <td>10:45</td>
                                          
                                                <td  class="background-primal-orange color-primal-brown">FJÖLSKYLDUTÍMI</td>
                                                </tr>
                                                    
        
                                                
                                                </tbody>
                                                </table> 

                            
                        </div>

    </div>
   
</section>