<section id="movement">
    <!--
    <div id="calendar" class="col-md-10 col-sm-12">
        <img class="calendar-img mdc-elevation--z6" src="{{.Site.Data.movement.calendar.img}}">
    </div>
    -->


    <div class="calendar-top-text text-center">
        <h2 class="section-heading title">Stundatafla</h2>
    </div>

    <div id="calendar" class="col-md-10 col-sm-12 fullsize-calendar">
        <div class="calendar-table ">

            <table>
                <thead>
                    <tr>
                        <td class="headcol"></td>
                        <td class="ghost"></td>
                        <td>MÁNUDAGUR</td>
                        <td>ÞRIÐJUDAGUR</td>
                        <td>MIÐVIKURDAGUR</td>
                        <td>FIMMTUDAGUR</td>
                        <td>FÖSTUDAGUR</td>
                        <td>LAUGARDAGUR</td>
                        <td>SUNNUDAGUR</td>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="headcol">06:10</td>
                        <td class="ghost">06:10</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-orange color-black ">MOVEMENT</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">7:20</td>
                        <td class="ghost">07:20</td>
                        <td class="background-primal-orange color-black">GRUNNNÁMSKEIÐ</td>
						<td></td>
                        <td></td>
                        <td class="background-primal-orange color-black">GRUNNNÁMSKEIÐ</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">10:00</td>
                        <td class="ghost">10:00</td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="background-primal-orange color-black">MOVEMENT*</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">11:00</td>
                        <td class="ghost">11:00</td>


                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>




                    <tr>
                        <td class="headcol">12:10</td>
                        <td class="ghost">12:10</td>


                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-brown color-black">END RANGE STRENGTH</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">13:10</td>
                        <td class="ghost">13:10</td>


                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">16:25</td>
                        <td class="ghost">16:25</td>


                        <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                        <td></td>
                        <td class="background-primal-green color-black">MJÚKT MOVEMENT</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">17:00</td>
                        <td class="ghost">17:00</td>


                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="background-primal-green color-black">ÖNDUN, VEFJALOSUN OG TEYGJUR</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">17:30</td>
                        <td class="ghost">17:30</td>


                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td class="background-primal-brown color-black">END RANGE STRENGTH</td>
                        <td class="background-primal-orange color-black">MOVEMENT</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="headcol">18:30</td>
                        <td class="ghost">18:30</td>


                        <td class="background-primal-orange color-black">GRUNNNÁMSKEIÐ</td>
                        <td class="background-primal-green color-black">HANDSTÖÐU ÁSTUNDUN</td>
                        <td></td>
                        <td class="background-primal-orange color-black">GRUNNNÁMSKEIÐ</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </div>


        <div class="calendar-bottom-text text-center">
            <p>* Tímar merktir með stjörnu geta átt það til að falla niður. Laugardagstímar eru langflesta laugardaga en
                fjölskyldutíma eru u.þ.b. einu sinni í mánuði.</p>
            <p>Iðkendur geta mætt í alla þá tíma sem þeim hentar. Iðkendur þurfa einungis að skrá hvenær dags þeir hafa
                hug á að mæta, þ.e. í morgun, hádegis, síðdegis eða mjúkan tíma.</p>
            <p><b>Athugið</b> að þó svo að valin sé tímasetning dags við skráningu (6:10, 12:10 eða 17:30) er ekkert mál
                að flakka á milli tíma yfir daginn. Skráningin er hugsuð til þess að halda utan um mögulega mætingu.</p>
        </div>
    </div>

</section>