<section id="movement" >
  <div class="container container-right">
    <div class="row outside-right">

        <div class=" hidden-sm hidden-xs"> 
            <div class="col-md-6 text-right left-column">
                <h2 class="section-heading title">
                    {{.Site.Data.handstand.section2.title | safeHTML }}            </h2>
              
                <p class="section-subheading text-muted">
                    {{.Site.Data.handstand.section2.content | safeHTML }}            </p>
            </div>
    
    
          <div class="col-md-6 text-left right-column img-big-adjustment2">
            <img class="img100100 mdc-elevation--z6" src="{{.Site.Data.handstand.section2.img}}">
          </div>
        </div>
    

        <div class=" visible-sm visible-xs "> 
            <div class="col-md-6 text-left left-column">
                <h2 class="section-heading title">
                    {{.Site.Data.handstand.section2.title | safeHTML }}            </h2>
              
                <p class="section-subheading text-muted">
                    {{.Site.Data.handstand.section2.content | safeHTML }}            </p>
            </div>
    
    
          <div class="col-md-6 text-left right-column img-big-adjustment2">
            <img class="img100100 mdc-elevation--z6" src="{{.Site.Data.handstand.section2.img}}">
          </div>
        </div>

    </div>
  </div>
</section>
