{{ "<!-- Vim Hoff -->" | safeHTML }}
<section id="movement" >
  <div class="container">
    <div class="row">

        <div class="col-md-6 text-center left-column">
            <h2 class="section-heading title">
                {{.Site.Data.handstand.section8.title}}
            </h2>
          
            <p class="section-subheading text-muted">
                {{.Site.Data.handstand.section8.content}}
            </p>
        </div>


      <div class="col-md-6 text-center right-column">
        <img class="img100100" src="{{.Site.Data.handstand.section8.img}}">
      </div>

    </div>
  </div>
</section>
